body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.cadre{
    width: 480px;
    height: 400px;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(100,255,255,0.8),rgba(200,165,200,0.8));
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 0px 30px;
}
.cadre h1{
    text-align: center;
    color: white;
    letter-spacing: 2px;
    font-weight: bolder;
}
.cadre hr{
    width: 70%;
}
.cadre form input:not(:last-child){
    display: block;
    width: 100%;
    margin: 20px 0px;
    height: 25px;
    color: gray;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
}
.cadre form input::placeholder{
    color: white;
}
.cadre input[type=submit]{
    display: block;
    width: 100%;
    height: 40px;
    background-color: #f66a8b;
    color: white;
    border: none;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.cadre .suplementary{
    color: white;
    
}
.suplementary a{
    float: right;
    color: white;
    text-decoration: none;
}